

<div id="articles-container">
  <div style="width:100%; text-align: center;">

    <h1>Articles disponible</h1>
    <img class="brand-logo" src="/assets/shoppingcart.jpg" alt="logo" aria-hidden="true" width="200px">
  </div>


  <table mat-table #ArticleTable [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <!--- Note that these columns can be defined in any order.
      [dataSource]="articles"
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="col-libelle">
      <th mat-header-cell *matHeaderCellDef> Libellé </th>
      <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="col-pu">
      <th mat-header-cell *matHeaderCellDef> Prix U.</th>
      <td mat-cell *matCellDef="let element">{{element.pu}} €</td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>