.label{
  width : 100px;
  padding: 5px;
}

.ip{
  width: 200px;
  padding: 5px;
  margin: 5px;
}

#commande {
  width: 600px;
  padding: 5px;
  width:100%; 
  border: solid 1px black;
  margin:5px; 
  padding:5px;
}
.mainfield{
  padding: 5px;
  margin: 0;
  overflow:visible;
}

#commande input{
  position: relative;
  display: inline-block;
  height:50px;

  overflow-y :visible !important;
  overflow-x :visible !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

 .mat-input-element {
    line-height: normal !important;
  }

.mat-mdc-form-field-infix{
  line-height: normal !important;
  visibility: visible;

  overflow-y :visible !important;
  overflow-x :visible !important;
}
