<div id="commande">

  <div style="width:100%; text-align: center;">
    <h1>Nouvel commande</h1>
    <img class="brand-logo" src="/assets/commande.png" alt="logo" aria-hidden="true" width="200px">
  </div>

  <datalist id="articleList">
    <option value=" "> </option>
    <option *ngFor="let c of articles" [value]="c.libelle">{{c.libelle}}</option>
  </datalist>



  <!-- Commande Selection   -->
  <div style="width:500px;">
    <table>
      <tr>
        <td>
          <div>
            <mat-form-field appearance="fill" style="width:500px">
              <mat-label>Article</mat-label>
              <input matInput #current placeholder="Article" list="articleList">
              <!--              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
              <!-- <mat-hint>Choisissez un Article</mat-hint> -->
            </mat-form-field>
          </div>
        </td>
        <td>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Quantité</mat-label>
              <input matInput #currentQTY placeholder="1">
              <!--              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
              <!-- <mat-hint>Choisissez une Quantité</mat-hint> -->
            </mat-form-field>
          </div>
        </td>

        <td>

          <button class="icon-button" (click)="totals()">
            <img class="icon" src="/assets/new_commande.jpg" width="50px" />
          </button>
        </td>

      </tr>
    </table>
  </div>


  <!-- Item details  -->

  <table mat-table #CommandeItems [dataSource]="itemDataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="col-libelle">
      <th mat-header-cell *matHeaderCellDef> Libellé </th>
      <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      <td *matFooterCellDef>Totals</td>
    </ng-container>

    <ng-container matColumnDef="col-pu">
      <th mat-header-cell *matHeaderCellDef> Prix U.</th>
      <td mat-cell *matCellDef="let element">{{element.pu}} €</td>
      <td *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="col-quantity">
      <th mat-header-cell *matHeaderCellDef> Quantité </th>
      <td mat-cell *matCellDef="let element">{{element.quantity}} </td>
      <td *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="col-ht">
      <th mat-header-cell *matHeaderCellDef> Total H.T.</th>
      <td mat-cell *matCellDef="let element">{{element.hors_tva| number:'1.1-2'}} €</td>
      <td *matFooterCellDef>{{getTotalHT() | number:'1.1-2'}} €</td>
    </ng-container>
    <ng-container matColumnDef="col-tva55">
      <th mat-header-cell *matHeaderCellDef> TVA 5,5%</th>
      <td mat-cell *matCellDef="let element">{{element.tva_5_5| number:'1.1-2'}} €</td>
      <td *matFooterCellDef>{{getTotalTVA55() | number:'1.1-2'}} €</td>
    </ng-container>
    <ng-container matColumnDef="col-tva20">
      <th mat-header-cell *matHeaderCellDef> TVA 20% </th>
      <td mat-cell *matCellDef="let element">{{element.tva_20| number:'1.1-2'}} €</td>
      <td *matFooterCellDef>{{getTotalTVA20() | number:'1.1-2'}} €</td>
    </ng-container>
    <ng-container matColumnDef="col-cnipt">
      <th mat-header-cell *matHeaderCellDef> CNIPT</th>
      <td mat-cell *matCellDef="let element">{{element.cnipt| number:'1.1-2'}} €</td>
      <td *matFooterCellDef>{{getTotalCNIPT()| number:'1.1-2'}} €</td>

    </ng-container>
    <ng-container matColumnDef="col-ttc">
      <th mat-header-cell *matHeaderCellDef> <b>TTC</b></th>
      <td mat-cell *matCellDef="let element">{{element.ttc| number:'1.1-2'}} €</td>
      <td *matFooterCellDef>{{getTotalTTC()| number:'1.1-2'}} €</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <!-- Commande details  -->
  <table>
    <tr>

      <td>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Commande ID</mat-label>
            <input matInput placeholder="Commande" disabled="disabled" value="{{currentCommande.id }}">

            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
        </div>
      </td>

      <td>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Date" disabled="disabled"
              value="{{currentCommande.date| date : 'YYYY-MM-dd'}}">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
        </div>
      </td>

      <td>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Client</mat-label>
            <input matInput placeholder="Client">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Choisissez un Client</mat-hint>
          </mat-form-field>
        </div>
      </td>

      <td>
        <button class="icon-button" (click)="save()">
          save
        </button>
      </td>
    </tr>
  </table>



</div>